<h1>Thank you for your order!</h1>

<p>Your order has been successfully placed.</p>

<p>If you have any questions, please contact our support team.</p>

<%= link_to 'Return to Home', root_path %>
