@import "bootstrap";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


div.productCard {
    box-shadow: 2px 2px 5px rgb(158, 158, 158);
    border: 1px solid black;
    border-radius: 10px;
}

.productCard:hover {
    transform: scale(1.05, 1.05);
    background-color: #ededed;
    transition: all 0.2s ease-in-out;
}

.productName {
    font-size: 1.2rem;
}

a.productIndexLink {
    text-decoration: none;
    width: auto;
}

a#githubLink {
    text-decoration: none;
    color: gray;
}

button.btn {
    width: min-content;
}

.pagination .page-link {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #454d55;
  }
  
  .pagination .page-link:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  .pagination .active .page-link {
    background-color: #212529;
    border-color: #212529;
  }
  .page-item.disabled .page-link {
    background-color: #ffffff;
    border: 1px solid #454d55;
    color: #000000;
  }