<div id="<%= dom_id product %>" class="card productCard">
    <div class="card-body">
        <h4 class="card-title productName"><%= product.name %></h4>
        <h6 class="card-subtitle text-muted">$<%= product.price %></h6>
        <img src="../furniture-holder.jpg" alt="dummy picture" class="productImg" width="200"/>
    </div>
</div>