<h1 class="mb-4">Edit Shipping Details</h1>

<% if @shipment.errors.any? %>
  <div class="alert alert-danger">
    <h5 class="alert-heading">The following errors prevented saving:</h5>
    <ul class="mb-0">
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "shipments/edit", shipment: @shipment %>
